.Tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Tab{
    padding: 16px 24px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.15s;
    font-size: 2em;
    &__-selected{
        border-bottom: 1px  solid red;
    }

    &:hover{
        
    }

    &Label{
        color:red;

        &__selected{
            background-color:#6a59d1;
            box-shadow: var(--box-shadow);
            border-radius: 5px 5px 5px 5px;
        }
    }
}

@media (max-width: 730px){
    .Tabs{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-size: 0.6em;
    }

    .Tab {
        padding: 16px 24px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.15s;
        font-size: 1.4em;
    }
    .Tablabel{
        width: 79px;
        text-align: center;
        
    }
}