.Tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Tab{
    padding: 16px 24px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.15s;

    &__-selected{
        border-bottom: 1px  solid red;
    }

    &:hover{
        
    }

    &Label{
        color:red;

        &__selected{
            
        }
    }
}